.pagetitle{
    height: 300px;
    background-color: #2a9da4;
    width: 100%
}

.pagetitle img{
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #2a9da4;
}

.sign_in_bar{
    text-align: center;
    background-color: #000;
    overflow: hidden;
    display: block;
}

.sign_in_bar a{
    float: right;
    background-color: #000;
    color: #FFF;
    padding: 15px 20px;
}

.sign_in_bar a:hover{
	background-color: #DDD;
	color: #000;
}

.descpara{
    background-color: #FFF;
    margin-top: 25px;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 30px;
    padding-top: 10px;
    font-family: Georgia, Verdana, serif;
    text-align: left;
}

.registerbutton{
    font-family: Georgia, Verdana, serif;
    margin-top: 50px;
    text-align: center;
}

.registerbutton a{
    background-color: #2a9da4;
    padding: 15px 40px;
    color: #FFF;
    text-decoration: none;
    font-size: 26px;
}

.registerbutton a:hover{
    background-color: #BBB;
    color: #000;
}

#black{
    background-color: #000;
}

h1{
    font-family: Georgia, Verdana, serif;
    text-align: center;
}

form {
    display: table;
}

form p{
    display: table-row;
}

form p label{
    display: table-cell;
}

input{
    display: table-cell;
}

input[type=radio]{
    display: table-cell;
}

input[type=text]{
    margin-left: 20px;
    margin-right: 20px;
    padding: 6px 20px;
    margin-bottom: 10px;
}

input[type=email]{
    margin-left: 20px;
    margin-right: 20px;
    padding: 6px 20px;
    margin-bottom: 10px;
}