doctype html
head
  link(href='stylesheets/our.css' rel='stylesheet')
  meta(charset='utf-8')
  meta(name='keywords' content='Twist, Women, Technology, Aviaiton, Engineering, Science')
  meta(name='description' content='Twist website')
  meta(name='author' content='Eric Webb, Shea Clark, Wesley Elliott, Jon Martin, Alex Windhorst')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
.sign_in_bar
  a(href='login') Log in
  a(href='register') Register
.pagetitle
  img(src='/images/TwistLogo.jpg' alt='Twist Logo')
.descpara
  .carousel
    img.mySlides(src='images/1.jpg')
    img.mySlides(src='images/2.jpg')
    img.mySlides(src='images/3.jpg')
    img.mySlides(src='images/4.jpg')
    img.mySlides(src='images/5.jpg')
    button.left(onclick='plusDivs(-1)') Previous
    button.right(onclick='plusDivs(1)') Next
  .desctitle
    h1 Description
  p
    | TWIST, or Teen Women in Science and Technology, is a one-day conference to expose teen women across the state to various career possibilities. TWIST was developed by K-State Polytechnic and the Salina community more than 25 years ago. TWIST is open to any young woman in ninth through 12th grade. K-State Polytechnic encourages high school sponsors or organizers to register students. Students must register individually to choose their top five career sessions.
  .registerbutton
    a(href='/register') REGISTER
script(src='javascripts/carousel.js')
