doctype html
head
  link(href='../stylesheets/our.css' rel='stylesheet')
  meta(charset='utf-8')
  meta(name='keywords' content='Twist, Women, Technology, Aviaiton, Engineering, Science')
  meta(name='description' content='Twist website')
  meta(name='author' content='Eric Webb, Shea Clark, Wesley Elliott, Jon Martin, Alex Windhorst')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
.navbar
  .dropdown
    p Speakers
    .dropdown_content
      a(href='add-speaker/') Add Speaker
      a(href='dashboard/edit-speaker/') Edit Speaker
  .dropdown
    p Schedule
    .dropdown_content
      a(href='dashboard/add-schedule/') Add Schedule
      a(href='dashboard/edit-schedule/') Edit Schedule
  .dropdown
    p Rooms
    .dropdown_content
      a(href='dashboard/add-room/') Add Room
      a(href='dashboard/edit-room/') Edit Room
  .dropdown
    p Attendees
    .dropdown_content
      a(href='dashboard/add-attendee/') Add Attendee
      a(href='dashboard/edit-attendee/') Edit Attendee
#schedule
input(type='button' value='Add Session' onclick="window.location.href = '/dashboard/create-session'")
