doctype html
head
  link(href='our.css' rel='stylesheet')
  meta(charset='utf-8')
  meta(name='keywords' content='Twist, Women, Technology, Aviaiton, Engineering, Science')
  meta(name='description' content='Twist website')
  meta(name='author' content='Eric Webb, Shea Clark, Wesley Elliott, Jon Martin, Alex Windhorst')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
.navbar
  div 1
  div 2
  div 3
  div 4
#schedule
input(type='button' value='Add Session' onclick="window.location.href = '/dashboard/create-session")
