doctype html
head
  link(href='../../stylesheets/our.css' rel='stylesheet')
  meta(charset='utf-8')
  meta(name='keywords' content='Twist, Women, Technology, Aviaiton, Engineering, Science')
  meta(name='description' content='Twist website')
  meta(name='author' content='Eric Webb, Shea Clark, Wesley Elliott, Jon Martin, Alex Windhorst')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
h2 Speakers List
.descpara
  table
    thead
      tr
        th Name
        th Topic
        th Edit
        th Delete
      tr
    tbody
      for speaker in speaker_list
        tr(id=speaker.id)
          td
            span #{speaker.name}
          td
            span #{speaker.topic.topicName}
          td
            a#submitbutton(href='/dashboard/speaker-list/edit-speaker/' + speaker.id) Edit
          td
            button#submitbutton(onClick='') Delete
  input#submitbutton(type='button' value='Back to Dashboard' onclick="window.location.href = '/dashboard'")