doctype html
head
  link(href='../../stylesheets/our.css' rel='stylesheet')
  meta(charset='utf-8')
  meta(name='keywords' content='Twist, Women, Technology, Aviaiton, Engineering, Science')
  meta(name='description' content='Twist website')
  meta(name='author' content='Eric Webb, Shea Clark, Wesley Elliott, Jon Martin, Alex Windhorst')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
h2 Add Block
div
  .form_container
    form(method='POST' action='')
      label(for='blockNumber') Block Number:
      br
      input#room(type='text' name='blockNumber' placeholder='eg. 1' value=(undefined===name ? '' : blockNumber) required='')
      br
      br
      br
      label(for='blockStart') Block Start:
      br
      input#capacity(type='text' name='blockStart' placeholder='eg. 10:00' value=(undefined===blockStart ? '' : blockStart) required='')
      br
      br
      br
      div
      label(for='blockEnd') Block End:
      br
      input#capacity(type='text' name='blockEnd' placeholder='eg. 11:00' value=(undefined===blockEnd ? '' : blockEnd) required='')
      br
      br
      br
      div
        p=(undefined===exists ? '' : exists)
        p=errors
      input(type='submit' value='Submit')
      input(type='button' value='Back to Home' onclick="window.location.href = '/dashboard'")